/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 90vh;
}

header img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48%;
}

header .welcome {
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

header div {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: 400;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 10px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

section {
    height: 100vh;
}
